################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Genesys.Client.Notifications/bin/Debug/netstandard2.0
/src/Genesys.Client.Notifications/obj
